html {
  background: #F2EDE6;
  color: #4B4741;
}
body {
  font: 0.9em Georgia, "Times New Roman", serif;
  font-size: 18px;
  color: #333;
  text-align: left;
  line-height: 1.3em;
}

#page {
  width: 900px;
  margin: 2em auto;
  background: #FFF;
  -moz-border-radius: 	 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius:				 0.5em;
  text-align: justify;
  -moz-box-shadow:    0 0 7px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  shadow:             0 0 7px rgba(0, 0, 0, 0.2);
}

code {
  font-size: 15px;
}

h1, h2, h3, h4, a {
  color: #2452A0;
}

h1, h2, h3, h4 {
}

a {
 text-decoration: none;
}

a:hover {
 color: #3789C1;
}

h1 {
	font-size: 2em;
	padding: 20px 0px 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

h2
{
  margin-bottom: 5px;
  padding: 15px 0 10px 0;
  font-size: 1.4em;
}

p {
  margin-bottom: 10px;
}

#doc_header ,
#doc_footer ,
#doc_navigation ,
#doc_content {
  padding-left:  35px;
  padding-right: 35px;
}

#doc_navigation ,
#doc_footer ,
#doc_header {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
#doc_header p { margin: 0; padding: 0; }

#doc_footer ,
#doc_navigation {
  background: #728FC2;
	color: #C8D7F1;
}

#doc_navigation {
  font-size: smaller;
}

#doc_navigation a {
  color: #FFF;
}

#doc_content {
}

#doc_toc {
  font-size: 0.9em;
  float: right;
  margin: 1em 0 1em 2em;
  padding: 0.7em;
  background: #F5F6F8;
  border: 1px solid rgba(0,0,0,0.05);
  -moz-box-shadow:    0 0 7px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  shadow:             0 0 7px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 	 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius:				 0.5em;
}

#doc_toc ul {
  margin-top: 0;
  margin-bottom: 0;
}

#doc_footer {
  margin-top: 2em;
  border-top: 1px solid rgba(0,0,0,0.05);
	border-bottom-right-radius				 : 0.5em;  
	-moz-border-radius-bottomright     : 0.5em;
	-webkit-border-bottom-right-radius : 0.5em;			
	border-bottom-left-radius          : 0.5em;
	-moz-border-radius-bottomleft      : 0.5em;
	-webkit-border-bottom-left-radius  : 0.5em;
}
